*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(65, 61, 80);
}

/* CONTAINER */
.App{
    max-width: 500px;
    height: cover;
    margin: 150px auto;
    background-color: rgb(255, 248, 147);
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
}
/* CONTAINER */

/* HEADER */
.header{
    text-align: center;
    margin-bottom: 30px;
}
/* HEADER */

/* FORM INPUT */
.text-add{
    border-radius: 10px;
    border: 0;
    width: 340px;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    background-color: rgb(59, 88, 128);
    color: white;
}

.text-add::placeholder{
    color: white;
}

.button-add{
    margin-left: 20px;
    outline: none;
    border-radius: 10px;
    border: 0;
    height: 50px;
    width: 80px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    background-color: aqua;
}

.button-add:hover{
    background-color: rgb(80, 235, 235);
}
/* FORM INPUT */

/* LIST TODO */
.list-container{
    width: 440px;
    margin-top: 20px;
    background-color: rgb(7, 123, 190);
    border-radius: 10px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.list-container p{
    flex: 2;
    font-size: 25px;
    color: white;
}
.edit{
    font-size: 30px;
    color: rgb(251, 255, 0);
    cursor: pointer;
}

.remove{
    font-size: 30px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.edit:hover{
    color: rgb(138, 139, 37);
}

.remove:hover{
    color: rgb(161, 16, 16);
}
/* LIST TODO */

/* TOOLS */
/* .cancel-edit{
    position: relative;
    top: -120px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 0, 0);
} */

.cancel-edit:hover{
    color: rgb(161, 16, 16);
}
/* TOOLS */

/* MODAL */
.active-modal {
    overflow-y: hidden;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #50a1c7;
    padding: 14px 28px;
    border-radius: .5rem;
    max-width: 400px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .45)
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
    color: rgb(255, 0, 0);
    font-size: 2rem;
}

.close-modal:hover{
    color: rgb(161, 16, 16);
}

.modal-content h3{
    margin: 40px 0;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.modal-content input{
    border: 0;
    padding: 1rem 1rem;
    border-radius: .8rem;
    height: 20px;
    width: 290px;
    outline: none;
    background-color: rgb(59, 88, 128);
    color: white;
    font-size: .9rem;
}

.modal-content input::placeholder{
    color: white;
}

.save-edit-btn{
    padding: .5rem 1rem;
    border: 0;
    border-radius: .7rem;
    background-color: aqua;
    display: inline-block;
    margin-bottom: 1rem;
    cursor: pointer;
}

.save-edit-btn:hover{
    background-color: rgb(80, 235, 235);
}
/* MODAL */